{% extends "figma/base_list.html" %}

{% block content %}

{% load static %}
<script src="{% static 'js/script.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/stylus.css' %}">


<div class="haedik">

    <div class="empty"></div>

    <div class="string">
        <div class="ggg">GALLERY</div>
        <div class="ggg">ALL</div>
    </div>

</div>

<div class="bigbox">
    <div class="menu">
        <div style="margin-left: 10px; font-weight: bold">CATEGORIES:</div>
        <div class="list-menu">
            <ul>
                <li>Somesing</li>
                <li>Somesing</li>
                <li>Somesing</li>
                <li>Somesing</li>
                <li>Somesing</li>
        </ul>
        </div>
    </div>

    <div class="container">
        <div class="punkt">
            <img src="{% static 'images/dubki-mini.jpg' %}">
            <h5>Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc ac sagittis ultricies aenean ullamcorper erat mattis ac.
                At pellentesque fames metus non.</p>
        </div>

        <div class="punkt">
            <img src="{% static 'images/dubki-mini.jpg' %}">
            <h5>Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc ac sagittis ultricies aenean ullamcorper erat mattis ac.
                At pellentesque fames metus non.</p>
        </div>

        <div class="punkt">
             <img src="{% static 'images/dubki-mini.jpg' %}">
            <h5>Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc ac sagittis ultricies aenean ullamcorper erat mattis ac.
                At pellentesque fames metus non.</p>
        </div>

        <div class="punkt">
            <img src="{% static 'images/dubki-mini.jpg' %}">
            <h5>Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc ac sagittis ultricies aenean ullamcorper erat mattis ac.
                At pellentesque fames metus non.</p>
        </div>

        <div class="punkt">
             <img src="{% static 'images/dubki-mini.jpg' %}">
            <h5>Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc ac sagittis ultricies aenean ullamcorper erat mattis ac.
                At pellentesque fames metus non.</p>
        </div>

        <div class="punkt">
            <img src="{% static 'images/dubki-mini.jpg' %}">
            <h5>Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc ac sagittis ultricies aenean ullamcorper erat mattis ac.
                At pellentesque fames metus non.</p>
        </div>
    </div>
</div>

</divmain>


{% endblock %}

{% endblock %}
