{% extends "figma/base_list.html" %}

{% block content %}

{% load static %}
<script src="{% static 'js/script.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<main>

<div class="bigbox">

    <div class="menu">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container">
        <div class="punkt"></div>
        <div class="punkt"></div>
        <div class="punkt"></div>
        <div class="punkt"></div>
        <div class="punkt"></div>
        <div class="punkt"></div>
    </div>
</div>

</main>


{% endblock %}