.capit{
    width: 100%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
	/*justify-content: space-between;*/
    /*align-items: flex-start;*/
}

.logo{
    width: 20%;
    /*display: block;*/
    float: left;
}

.log-sign{
    width: 20%;
    /*display: block;*/
    float: right;
}