.capit{
    width: 100%;
    display: flex;
    /*flex-wrap: wrap;*/
	justify-content: space-between;
    /*align-items: flex-start;*/
}

.logo{
    width: 10%;
    /*display: inline-block;*/
    /*float: left;*/
}

.log-sign{
    width: 10%;
    /*display: inline-block;*/
    /*float: right;*/
}
