.haedik{
 width: 100%;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
}
}

.empty{
    width: 15%;
}

.ggg{
    font-size: 16pt;
    font-weight: bold;
    margin-left: 115px;
}

.string{
    width: 85%;
    /*margin-left: 50px;*/
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}

.bigbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.container{
    width: 85%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
	/*justify-content: space-between;*/
    /*align-content: space-between;*/
}

.punkt{
    /*display: block;*/
    background: grey;
    width: 30%;
    height: 40%;
    margin: 15px;
    padding: 7px;
}

.punkt>p{
    font-size: 10pt;
}
